<!DOCTYPE html>
<html lang="en" ng-app="notesApp">

    <head>
        <meta charset="UTF-8">
        <title>$http get example</title>
        <style>
            .item {
                padding: 10px;
            }

        </style>
    </head>

    <body ng-controller="MainCtrl as mainCtrl">
        <h1>Hello Servers!</h1>
        <div ng-repeat="todo in mainCtrl.items" class="item">
            <div>
                <span ng-bind="todo.label"></span>
            </div>
            <div>- by
                <span ng-bind="todo.author"></span>
            </div>
        </div>
        <div>
            <form name="addForm" ng-submit="mainCtrl.add()">
                <input type="text" placeholder="Label" ng-model="mainCtrl.newTodo.label" required>
                <input type="text" placeholder="Author" ng-model="mainCtrl.newTodo.author" required>
                <input type="submit" value="Add" ng-disabled="addForm.$invalid">
            </form>
            <script src="../bower_components/angular/angular.min.js"></script>

            <script type="text/javascript">
                angular.module('notesApp', []).controller('MainCtrl', [
                    '$http',
                    function($http) {
                        var self = this;
                        self.items = [];
                        self.newTodo = {};
                        var fetchTodos = function() {
                            return $http.get('http://localhost:8000/api/note').then(function(response) {
                                self.items = response.data;
                            }, function(errResponse) {
                                console.error('Error while fetching notes');
                            });
                        };
                        fetchTodos();
                        self.add = function() {
                            $http.post('http://localhost:8000/api/note', self.newTodo).then(fetchTodos).then(function(response) {
                                self.newTodo = {};
                            });
                        };
                    }]).factory('MyLoggingInterceptor', [
                '$q',
                function($q) {
                    return {
                        request: function(config) {
                            console.log('Request made with ', config);
                            return config;
                            // If an error, not allowed, or my custom condition, return $q.reject('Not allowed');
                        },
                        requestError: function(rejection) {
                            console.log('Request error due to ', rejection);
                            // Continue to ensure that the next promise chain sees an error
                            return $q.reject(rejection);
                            // Or handled successfully? return someValue
                        },
                        response: function(response) {
                            console.log('Response from server', response);
                            // Return a promise
                            return response || $q.when(response);
                        },
                        responseError: function(rejection) {
                            console.log('Error in response ', rejection);
                            // Continue to ensure that the next promise chain sees an error Can check auth status code here if need to if (rejection.status === 403) { Show a login dialog return a value to tell controllers it has been handled } Or return a rejection to continue
                            // the promise failure chainreturn $q.reject(rejection);
                        }
                    };
                }
            ]).config([
                '$httpProvider',
                function($httpProvider) {
                    $httpProvider.interceptors.push('MyLoggingInterceptor');
                }
            ]);
            </script>
        </body>

    </html>
